.app-footer {
    background-color: #001d21;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    max-width: 1024px;
    width: 100%;
    padding: 3rem 1.5rem;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
    }
}


.footer-logo {
    display: flex;
    justify-content: flex-start;

    @media (max-width: 768px) {
        justify-content: center;
    }
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.links-r1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #ccc;
    font-size: 0.9rem;
    font-weight: 500;

    mat-icon {
        margin-right: 3px;
        font-size: 20px;
        color: #444;
    }

    span {
        width: 20px;
        display: inline-block;
    }

}

.links-r2 {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;

    fa-icon {
        color: #ddd;
    }

    @media (max-width: 768px) {
        justify-content: center;
    }
}