.booking-card {
    display: flex;
    align-items: center;
    gap: 6rem;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 2rem;
    }

    button {
        padding: 2rem 3rem;
        background: #cecbff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }
}


.booking-title {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #888;

    @media (max-width: 768px) {
        font-size: 2.15rem;
        text-align: center;
    }

}

.booking-txt {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.50rem;

    @media (max-width: 768px) {
        font-size: 1.15rem;
        text-align: center;
    }
}